<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>
<body>
    <h2>home - home - 首页 </h2>
    <img width=300 height=300 src="./imgs/img2.png" alt="">
    <img width=300 height=300 src="img" alt="">
    <img width=300 height=300 src="http://localhost:4000/img" alt="">
    <img width=300 height=300 src="imgs/1.jpg" alt="">
    <img width=300 height=300 src="imgs/2.jpg" alt="">
    <img width=300 height=300 src="imgs/3.jpg" alt="">
</body>
</html>