<style>
    header{
        color:#fff;
        height:50px;
        line-height: 50px;
        text-align: center;
        font-size: 28px;
        background: -webkit-linear-gradient(left,red 20%, yellow 50%, green 80%, pink 100%);
    }
</style>

<header>
    <span>
        <%-  title %>
    </span>
</header>